altgraph==0.17.5
autopep8==2.3.2
case-converter==1.2.0
cffi==2.0.0
cryptography==46.0.5
EditorConfig==0.17.1
jsbeautifier==1.15.4
numpy==2.4.2
packaging==26.0
pandas==3.0.0
pycodestyle==2.14.0
pycparser==3.0
Pygments==2.19.2
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.3
PyJWT==2.11.0
pyperclip==1.11.0
PyQt6==6.10.2
PyQt6-Qt6==6.10.2
PyQt6_sip==13.11.0
python-dateutil==2.9.0.post0
setuptools==82.0.1
six==1.17.0
sqlparse==0.5.5
zxcvbn==4.5.0
