#TabContainer { background-color: transparent; }

#TabBtn {
    background-color: hsl(217, 33%, 17%);
    color: hsl(0, 0%, 65%);
    border: 1px solid hsl(215, 25%, 27%);
    border-radius: 18px;
    padding: 6px 20px;
    font-size: 14px;
    font-weight: 600;
    min-width: 80px;
}

#TabBtn:hover { background-color: hsl(215, 25%, 27%); }

#TabBtn[active="true"] {
    background-color: #38bdf8;
    color: #0f172a;
}

#ConverterCard {
    background-color: hsl(217, 33%, 17%);
    border: 1px solid #334155;
    border-radius: 16px;
}

#SubLabel {
    color: #cbd5e1;
    font-weight: 600;
    font-size: 14px;
}

/* --- INPUTS --- */
#ConvInput {
    background-color: #0f172a;
    border: 1px solid #334155;
    border-right: none; 
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    
    color: hsl(0, 0%, 100%);
    font-size: 24px;
    font-weight: bold;
    padding: 12px;
}

#ConvInput:focus {
    border: 1px solid #38bdf8;
    border-right: none; 
}

/* Button */
#UnitSelector{
    background-color: hsl(222, 47%, 11%);
    color: #38bdf8;
    font-size: 16px;
    font-weight: 900;
    padding: 0px 10px;
    
    border: 1px solid #334155;
    border-left: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
#UnitSelector:hover { background-color: hsl(221, 39%, 11%); }

#EqualsLabel {
    color: #38bdf8;
    font-size: 36px;
    font-weight: bold;
    padding: 5px 0;
}

#RateLabel {
    color: #64748b;
    font-size: 13px;
    font-weight: 500;
    padding-left: 5px;
    padding-bottom: 5px;
}

#ModeCombo {
    background-color: #1e293b;
    border: 1px solid #334155;
    border-radius: 8px;
    padding: 8px;
    color: #f1f5f9;
    min-height: 35px;
}