#InputCard {
    background-color: hsl(220, 50%, 20%);
    border-radius: 12px;
}

/* Tabs */
#TabContainer {
    background-color: hsl(220, 50%, 20%);
    border-radius: 20px;
    padding: 4px;
}

#TabBtn {
    background-color: transparent;
    color: hsl(0, 0%, 100%);
    border-radius: 16px;
    padding: 8px 16px;
    font-weight: bold;
    border: none;
}
#TabBtn:hover { background-color: hsl(217, 33%, 22%); }
#TabBtn[active="true"] { background-color: hsl(220, 90%, 60%);}

/* Input field */
QLineEdit {
    background-color: hsl(220, 30%, 10%);
    border: 1px solid hsl(220, 30%, 30%);
    border-radius: 6px;
    color: white;
    padding: 4px 8px;
    selection-background-color: hsl(220, 90%, 60%);
}

QLineEdit:focus {
    border: 1px solid hsl(217, 91%, 60%);
    background-color: hsl(217, 33%, 11%);
}

QLabel {
    color: hsl(0, 0%, 85%);
}

#DurationLabel {
    font-weight: 500;
}

/* Operation btns +- */
#Operation {
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

#Operation[class="success"] { background-color: hsl(140, 60%, 40%); }
#Operation[class="success"]:hover { background-color: hsl(140, 70%, 50%); }
#Operation[class="danger"] { background-color: hsl(0, 60%, 40%); }
#Operation[class="danger"]:hover { background-color: hsl(0, 70%, 50%); }
#Operation[active="true"] { border: 2px solid white; }


/* Input calendar */
QCalendarWidget QWidget { 
    background-color: hsl(222, 47%, 18%); 
    alternate-background-color: hsl(222, 47%, 18%); 
    color: white;
}

/* Month/year */
QCalendarWidget QToolButton {
    color: white;
    background-color: transparent;
    icon-size: 20px;
    border-radius: 5px;
}
QCalendarWidget QToolButton:hover { background-color: hsl(217, 33%, 25%); }

/* days */
QCalendarWidget QAbstractItemView:enabled {
    background-color: hsl(222, 47%, 18%); 
    color: white;
    selection-background-color: hsl(217, 91%, 60%);
    selection-color: white;
    border: none;
    outline: 0;
}

/* ouptput */
#OutputArea {
    background-color: hsl(220, 50%, 20%);
    border-radius: 12px;
    margin-top: 10px;
}

#OutputQlabel {
    font-size: 14px;
}

#OutputAlabel {
    color: hsl(217, 91%, 60%);
    font-size: 22px;
    font-weight: bold;
}