QMainWindow, QDialog, QScrollArea, QWidget#HomeContainer { 
    background-color: hsl(230, 50%, 10%); 
}

/* Scrollbar */
QScrollBar {
    border: none;
    background-color: #0f172a;
    margin: 0px;
}
QScrollBar:vertical {width: 10px;}
QScrollBar:horizontal {height: 10px;}

QScrollBar::handle {
    background-color: #334155;
    border-radius: 5px;
}

QScrollBar::handle:hover {background-color: #475569;}
QScrollBar::add-line, QScrollBar::sub-line {height: 0px;} /* Hide up down arrows */

/* Header for tool pages */
#ToolTitle {
    color: hsl(230, 40%, 100%);
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

#TabContainer {
    background-color: hsl(220, 50%, 20%);
    border-radius: 20px;
    padding: 4px;
}

#TabBtn {
    background-color: transparent;
    color: hsl(0, 0%, 100%);
    border-radius: 16px;
    padding: 8px 16px;
    font-weight: bold;
    border: none;
}
#TabBtn:hover { background-color: hsl(217, 33%, 22%); }
#TabBtn[active="true"] { background-color: hsl(220, 90%, 60%);}