QMainWindow, QDialog, QScrollArea, QWidget#HomeContainer { 
    background-color: hsl(230, 50%, 10%); 
}

/* Scrollbar */
QScrollBar {
    border: none;
    background-color: #0f172a;
    margin: 0px;
}
QScrollBar:vertical {width: 10px;}
QScrollBar:horizontal {height: 10px;}

QScrollBar::handle {
    background-color: #334155;
    border-radius: 5px;
}

QScrollBar::handle:hover {background-color: #475569;}
QScrollBar::add-line, QScrollBar::sub-line {height: 0px;} /* Hide up down arrows */

/* Header for tool pages */
#ToolTitle {
    color: hsl(230, 40%, 100%);
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}