QMainWindow, QDialog, QScrollArea, QWidget#HomeContainer { 
    background-color: hsl(230, 50%, 10%); 
}

/* Scrollbar */
QScrollBar:vertical {
    border: none;
    background-color: #0f172a;
    width: 10px;
    margin: 0px;
}

QScrollBar::handle:vertical {
    background-color: #334155;
    border-radius: 5px;
}

QScrollBar::handle:vertical:hover {background-color: #475569;}
QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical {height: 0px;} /* Hide up down arrows */

/* Header for tool pages */
#ToolTitle {
    color: hsl(230, 40%, 100%);
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}