/* Dashboard header */
#DashboardTitle {
    color: hsl(0, 0%, 90%);
    font-family: 'Segoe UI', sans-serif;
    font-size: 32px;
    font-weight: bold;
    padding-left: 10px;
    padding-bottom: 5px;
}

#DashboardSubtitle {
    color: hsl(0, 0%, 60%);
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px;
    padding-left: 12px;
    margin-bottom: 10px;
}

/* Tool cards */
#ToolSelector {
    background-color: hsl(230, 30%, 20%);
    border: 1px solid hsl(230, 40%, 40%);
}

#ToolSelector:hover {
    background-color: hsl(230, 30%, 30%);
    border: none;
}

#ToolSelector:pressed {
    background-color: hsl(230, 30%, 15%);
    border: 1px solid hsl(230, 40%, 40%);
}

#ToolSelectorLabel {
    color: hsl(214, 32%, 91%);
    font-family: 'Segoe UI', sans-serif;
    font-weight: 600;
}