/* Input field */
QTextEdit {
    background-color: hsl(220, 30%, 20%);
    border: 1px solid hsl(220, 30%, 50%);
    border-radius: 6px;
    color: white;
    padding: 4px 8px;
}

QTextEdit:focus { border: 1px solid hsl(220, 100%, 60%); }

#ValBox {
    border: 1px solid hsl(220, 30%, 50%);
    border-radius: 6px;
}
#ValBox[status="success"] { background-color: hsl(120, 70%, 30%); }
#ValBox[status="fail"] { background-color: hsl(0, 70%, 30%); }

QLabel { color: hsl(0, 0%, 85%); }

#bold { font-weight: bold; }