#TabContainer {
    background-color: hsl(220, 50%, 20%);
    border-radius: 20px;
    padding: 4px;
}

#TabBtn {
    background-color: transparent;
    color: hsl(0, 0%, 100%);
    border-radius: 16px;
    padding: 8px 16px;
    font-weight: bold;
    border: none;
}
#TabBtn:hover { background-color: hsl(217, 33%, 22%); }
#TabBtn[active="true"] { background-color: hsl(220, 90%, 60%);}

/* Input field */
QTextEdit {
    background-color: hsl(220, 30%, 20%);
    border: 1px solid hsl(220, 30%, 50%);
    border-radius: 6px;
    color: white;
    padding: 4px 8px;
}

QTextEdit:focus { border: 1px solid hsl(220, 100%, 60%); }

#ValBox {
    border: 1px solid hsl(220, 30%, 50%);
    border-radius: 6px;
}
#ValBox[status="success"] { background-color: hsl(120, 70%, 30%); }
#ValBox[status="fail"] { background-color: hsl(0, 70%, 30%); }

QLabel { 
    color: hsl(0, 0%, 85%); 
}

#bold { font-weight: bold; }