/* Sidebar */
#Sidebar #SidebarScrollContent{
    background-color: hsl(230, 50%, 25%);
}

#SidebarTitle {
    background-color: hsl(230, 40%, 15%);
    color: hsl(200, 90%, 60%);
    border-bottom: 1px solid hsl(230, 30%, 30%);
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
}

#SidebarBtn {
    background-color: hsl(230, 50%, 20%);
    color: #94a3b8;
    text-align: left;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 14px;
    border: none;
}

#SidebarBtn:hover {
    background-color: hsl(230, 30%, 15%);
    color: #f8fafc;
}

/* Home Button Specific Highlight */
#SidebarBtn[text="  Home"] {
    color: hsl(200, 60%, 60%);
    font-weight: bold;
}

#SidebarSeparator {
    color: hsl(230, 15%, 30%);
    margin: 10px 5px;
}