#InputArea, #SecurityArea, #ImproveArea {
    background-color: hsl(220, 50%, 17%);
    border-radius: 12px;
    border: 1px solid hsl(220, 50%, 25%);
}

QLabel {
    color: hsl(0, 0%, 85%);
    font-weight: bold;
}

/* Input Fields */
QLineEdit {
    background-color: hsl(220, 50%, 10%);
    border: 1px solid hsl(220, 50%, 30%);
    border-radius: 6px;
    color: white;
}

QLineEdit:focus { border: 1px solid hsl(220, 90%, 60%); }

/* Strength progress bar */
QProgressBar {
    border: none;
    background-color: #334155;
    border-radius: 6px;
}
QProgressBar::chunk { border-radius: 6px; }

#SecurityScore[class = "red"] { color: #ef4444; }
#SecurityScore[class = "orange"] { color: #f97316; }
#SecurityScore[class = "blue"] { color: #3b82f6; }
#SecurityScore[class = "green"] { color: #22c55e; }

#PasswordOut {
    background-color: hsl(220, 50%, 13%);
    color: white;
    border: 1px dashed hsl(220, 50%, 30%);
}

/* Buttons */
QPushButton {
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 15px;
    font-weight: bold;
}
#ImproveBtn         { background-color: hsl(220, 60%, 40%); }
#ImproveBtn:hover   { background-color: hsl(220, 60%, 50%); }
#ImproveBtn:pressed { background-color: hsl(220, 60%, 30%); }
#RandomBtn          { background-color: hsl(220, 10%, 40%); }
#RandomBtn:hover    { background-color: hsl(220, 10%, 50%); }
#RandomBtn:pressed  { background-color: hsl(220, 10%, 30%); }